* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea {
	border: 0;
	background: none;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

html {
	font-size: 10px;
}

:root {
	--brand-font: "Kanit", sans-serif;
	--bs-font-sans-serif: system-ui, Arial, sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

body {
	color: #1c0c4c;
	font-family: var(--bs-font-sans-serif);
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
	&.hidden {
		max-height: 100vh;
		overflow: hidden;
	}
}

.container {
	padding: 0 1.2rem;
}

.header {
	width: 25rem;
	transition: 0.5s all;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3000;
	background: linear-gradient(115deg, #1c0c4c 40%, #be05a6 100%);
	color: #fff;
	border-right: 0.4rem solid #1c0c4c;
	height: 100vh;
	overflow-y: auto;
	scrollbar-width: none;
	padding: 1.1rem 0.8rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.header_logo {
	width: 15rem;
	aspect-ratio: 150/90;
	margin: 0 auto;

	svg {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.header_btns {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	a {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: center;
		background-color: #006ca3;
		color: #fff;
		padding: 0 1.5rem;
		border-radius: 0.7rem;
		font-weight: 700;
		font-size: 1.4rem;
		text-align: center;
		cursor: pointer;
		height: 3.1rem;
		transition-duration: 0.3s;
		&:nth-child(2) {
			background-color: #e5e5e5;
			color: #222;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}

.header_item {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	&.avantages {
		.header_item_list {
			li {
				&:nth-child(1) {
					svg {
						animation-name: fa-beat;
					}
				}
				&:nth-child(2) {
					svg {
						animation-name: fa-bounce;
					}
				}
				&:nth-child(3) {
					svg {
						animation-name: fa-spin;
						animation-duration: 2s;
						animation-timing-function: linear;
					}
				}
			}

			svg {
				animation-fill-mode: forwards;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				path {
					fill: #00aaff;
				}
			}
		}
	}
}

@keyframes fa-beat {
	0% {
		transform: scale(1);
	}
	45% {
		transform: scale(1.25);
	}
	90% {
		transform: scale(1);
	}
}

@keyframes fa-bounce {
	0% {
		transform: scale(1, 1) translateY(0);
	}

	10% {
		transform: scale(1.1, 0.9) translateY(0);
	}

	30% {
		transform: scale(0.9, 1.1) translateY(var(--fa-bounce-height, -0.5em));
	}

	50% {
		transform: scale(1.05, 0.95) translateY(0);
	}

	57% {
		transform: scale(1, 1) translateY(-0.125em);
	}

	64% {
		transform: scale(1, 1) translateY(0);
	}

	100% {
		transform: scale(1, 1) translateY(0);
	}
}

@keyframes fa-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.header_item_title {
	font-weight: 700;
	font-size: 1.2rem;
	color: #00aaff;
	text-transform: uppercase;
}

.header_item_list {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
	padding-left: 0.5rem;
	li {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		svg {
			width: 1.8rem;
			aspect-ratio: 1/1;
		}
		a {
			font-weight: 500;
			font-size: 1.6rem;
		}
	}
}

.wrapper {
	padding-left: 25rem;
}

.top_block {
	aspect-ratio: 1216/380;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top_video {
	width: 100%;
	height: 100%;
	overflow: hidden;
	video {
		width: 100%;
		height: 100%;
	}
}

.top_title {
	position: absolute;
	top: 15%;
	width: 55rem;
	background: rgba(0, 0, 0, 0.6);
	padding: 0.5rem 0.5rem 1rem;
	border-radius: 1.5rem;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	animation: welcome-offer-animation 3s ease infinite;
	p {
		font-size: 3.9rem;
		font-family: var(--brand-font);
		font-weight: 400;
		line-height: 1.2;
		text-shadow: 0 0 21px #00aaff, 0 0 42px #00aaff, 0 0 82px #81f7fa;
	}
	a {
		background-color: #006ca3;
		padding: 0 1.5rem;
		border-radius: 0.7rem;
		font-weight: 700;
		font-size: 1.9rem;
		text-align: center;
		cursor: pointer;
		width: 100%;
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-duration: 0.3s;
		&:hover {
			opacity: 0.8;
		}
	}
}

@keyframes welcome-offer-animation {
	0% {
		transform: rotate(0);
	}
	5% {
		transform: rotate(5deg);
	}
	10% {
		transform: rotate(0);
	}
	15% {
		transform: rotate(-5deg);
	}
	25% {
		transform: rotate(0);
	}
}

.top_sliders {
	color: #fff;
	background: linear-gradient(to bottom right, #00aaff 15%, #be05a6);
	padding: 0.8rem 0.8rem 1.5rem;
}

.top_sliders_menu {
	display: flex;
}

.top_sliders_menu_item {
	width: 50%;
	cursor: pointer;
	text-align: center;
	height: 3.5rem;
	transition-duration: 0.1s;
	span {
		font-size: 1.6rem;
		&:nth-child(2) {
			font-size: 1.1rem;
		}
	}
	&.active {
		font-weight: 700;
	}
}

.top_sliders_list {
	border-top: 0.1rem solid rgba(252, 252, 252, 0.3);
	padding: 1.6rem 0 0;
	margin: 0 0.5rem;
}

.top_slider {
	display: none;
	&.active {
		display: block;
	}
	.swiper-wrapper {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 0.5rem;
	}
}

.top_slide {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	background: #1c0c4c;
	border-radius: 1.5rem 1.5rem 0 0;
}

.top_slide_img {
	width: 5.7rem;
	min-width: 5.7rem;
	aspect-ratio: 57/80;
	border-radius: 1rem 1rem 0 0;
	img {
		border-radius: 1rem 1rem 0 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.top_slide_info {
	font-size: 1.2rem;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 0 0.3rem;
	span {
		color: #00aaff;

		&:nth-child(1) {
			width: 3.9rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: #fff;
			transform: translateY(0.3rem);
		}
		&:nth-child(2) {
			font-size: 1.4rem;
		}
		&:nth-child(3) {
			font-size: 1.4rem;
		}
		&:nth-child(4) {
			font-size: 1.4rem;
		}
		&:nth-child(5) {
			transform: translateY(0.3rem);
		}
	}
}

.content {
	background: #ddd6ed;
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.content_list_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	p {
		font-family: var(--brand-font);
		font-size: 3rem;
		font-weight: 400;
		line-height: 1.2;
	}
	a {
		width: 1.8rem;
		aspect-ratio: 18/16;
		svg {
			width: 100%;
			height: 100%;
			display: block;
			path {
				fill: #00aaff;
				transition-duration: 0.3s;
			}
		}
		&:hover {
			svg {
				path {
					fill: #1c0c4c;
				}
			}
		}
	}
}

.content_list_row {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;
}

.content_list_row_item {
	position: relative;
	border-radius: 1.5rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 191/268;
	cursor: pointer;
	&:hover {
		.content_list_row_item_svg {
			animation-name: fa-shake;
			opacity: 1;
		}
		&::before {
			opacity: 1;
		}
	}
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		transition: 0.1s;
		opacity: 0;
	}
}

.content_list_row_item_img {
	width: 100%;
	height: 100%;
	border-radius: 1.5rem;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		border-radius: 1.5rem;
		object-fit: cover;
	}
}

.content_list_row_item_svg {
	position: absolute;
	width: 2.6rem;
	aspect-ratio: 1/1;
	opacity: 0;
	animation-duration: 1s;
	animation-timing-function: linear;
	z-index: 2;
	path {
		fill: #00aaff;
	}
}

.content_list_row_item_title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #0009;
	text-align: center;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	font-size: 1.4rem;
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000, 0 0 1em #000,
		0 0 0.2em #000;
	color: #fff;
	font-weight: 700;
}

@keyframes fa-shake {
	0% {
		transform: rotate(-15deg);
	}

	4% {
		transform: rotate(15deg);
	}

	8% {
		transform: rotate(-18deg);
	}

	12% {
		transform: rotate(18deg);
	}

	16% {
		transform: rotate(-22deg);
	}

	20% {
		transform: rotate(22deg);
	}
	24% {
		transform: rotate(-18deg);
	}

	28% {
		transform: rotate(18deg);
	}

	32% {
		transform: rotate(-12deg);
	}

	36% {
		transform: rotate(12deg);
	}

	40% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.content_item.slider {
	background: linear-gradient(to bottom right, #00aaff 15%, #be05a6);
	color: #fff;
	padding: 2rem 0 3.5rem;
}

.content_slider {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.content_slider_swiper {
	display: flex;
	align-items: center;
	width: 100%;
	.swiper {
		display: flex;
		align-items: center;
		width: 100%;
	}
	.swiper-wrapper {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(7, 1fr);
		gap: 0.8rem;
	}
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #1c0c4c;
		height: 8.5rem;
		border-radius: 1.5rem;
		svg {
			width: auto;
			max-width: 90%;
			height: 50%;
			path {
				fill: #fff;
			}
		}
	}
}

.content_slider_title {
	font-weight: 400;
	font-family: var(--brand-font);
	font-size: 2.7rem;
}

.swiper-prev,
.swiper-next {
	width: 1.6rem;
	aspect-ratio: 1/1;
	cursor: pointer;
	transition-duration: 0.3s;
	&:hover {
		opacity: 0.5;
	}
	svg {
		display: block;
		width: 100%;
		height: 100%;
		&:focus {
			outline: none;
		}
	}
}

.swiper-prev {
	transform: rotate(-90deg);
}

.swiper-next {
	transform: rotate(90deg);
}

.main-content__inner {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 0 3rem;
}

.content_item_text {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.content_item_text_title {
	font-size: 3rem;
	font-weight: 500;
}

.content_item_text_block {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.6rem;
	ol {
		list-style: auto;
		padding-left: 5rem;
	}
	ul {
		list-style: disc;
		padding-left: 5rem;
	}
}

.table-wrap {
	table {
		border-collapse: collapse;
		width: 100%;
	}
	thead {
		font-weight: 700;
	}
	td {
		padding: 10px;
		border: 1px solid #1c0c4c;
		&:nth-child(3) {
			min-width: 15rem;
		}
	}
}

.footer {
	padding: 3rem 0 2rem;
	background-image: linear-gradient(to bottom right, #00aaff -20%, #be05a6);
	color: #fff;
}

.footer_menu {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer_menu_item {
	padding: 1rem;
	border-right: 0.1rem solid #fff;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	&:last-child {
		border-right: 0;
	}
}

.footer_menu_item_title {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 700;
}

.footer_menu_item_list {
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.footer_slider {
	margin-top: 4rem;
}

.footer_copyright {
	font-size: 1.2rem;
	text-align: center;
	margin-top: 4rem;
}

.footer_logo {
	aspect-ratio: 150/85;
	width: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2.5rem auto 0;
	picture {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.content_slider_swiper_single {
	margin-top: 1.2rem;
	.swiper {
		width: 100%;
	}
	.swiper-wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.swiper-slide {
		width: auto;
		aspect-ratio: 156/85;
	}
}

@-webkit-keyframes snowflakes-fall {
	0% {
		top: -10%;
	}
	to {
		top: 100%;
	}
}
@-webkit-keyframes snowflakes-shake {
	0% {
		-webkit-transform: translateX(0px);
		transform: translate(0);
	}
	50% {
		-webkit-transform: translateX(80px);
		transform: translate(80px);
	}
	to {
		-webkit-transform: translateX(0px);
		transform: translate(0);
	}
}
@keyframes snowflakes-fall {
	0% {
		top: -10%;
	}
	to {
		top: 100%;
	}
}
@keyframes snowflakes-shake {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(80px);
	}
	to {
		transform: translate(0);
	}
}
.snowflake {
	color: #fff;
	font-size: 1.6em;
	text-shadow: 0 0 1px #000;
	position: fixed;
	top: -10%;
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	-webkit-animation-name: snowflakes-fall, snowflakes-shake;
	-webkit-animation-duration: 10s, 3s;
	-webkit-animation-timing-function: linear, ease-in-out;
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-play-state: running, running;
	animation-name: snowflakes-fall, snowflakes-shake;
	animation-duration: 10s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
	left: 1%;
	-webkit-animation-delay: 0s, 0s;
	animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
	left: 10%;
	-webkit-animation-delay: 1s, 1s;
	animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
	left: 20%;
	-webkit-animation-delay: 6s, 0.5s;
	animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
	left: 30%;
	-webkit-animation-delay: 4s, 2s;
	animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
	left: 40%;
	-webkit-animation-delay: 2s, 2s;
	animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
	left: 50%;
	-webkit-animation-delay: 8s, 3s;
	animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
	left: 60%;
	-webkit-animation-delay: 6s, 2s;
	animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
	left: 70%;
	-webkit-animation-delay: 2.5s, 1s;
	animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
	left: 80%;
	-webkit-animation-delay: 1s, 0s;
	animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
	left: 90%;
	-webkit-animation-delay: 3s, 1.5s;
	animation-delay: 3s, 1.5s;
}

.header-mobile,
.footer-mobile {
	display: none;
}

@media only screen and (max-width: 1200px), (max-height: 800px) {
	.header-mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: linear-gradient(120deg, #1c0c4c 60%, #1c0c4c 100%);
		z-index: 2000;
		left: 0;
		width: 100%;
		position: fixed;
		top: 0;
		height: 8rem;
		padding: 0 0.8rem;
		.header_logo {
			margin: 0;
			width: 10rem;
		}
	}
	.main {
		padding-top: 8rem;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.8);
			z-index: 2;
			display: none;
			transition-duration: 0.1s;
		}
		&.bg-active {
			&::before {
				display: block;
			}
		}
	}
	.header {
		top: 8rem;
		height: calc(100vh - 8rem - 5rem);
		left: -25rem;
		.header_logo {
			display: none;
		}
		&.active {
			left: 0;
		}
	}
	.wrapper {
		padding-left: 0;
	}
	.burger {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 2.8rem;
		height: 3.7rem;
		transition: 0.5s ease-in-out;
		cursor: pointer;
		gap: 0.6rem;
		&.active {
			span {
				&:nth-child(1) {
					transform: translateY(1rem) rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: translateY(-0.7rem) rotate(-45deg);
				}
			}
		}
		span {
			height: 0.3rem;
			border-radius: 0.6rem;
			transition: 0.25s ease-in-out;
			background: #fff;
			width: 100%;
		}
	}

	.header_login {
		width: 1.9rem;
		height: 2.2rem;
		display: flex;

		svg {
			width: 100%;
			height: 100%;
			color: #fff;
		}
	}

	.footer {
		padding: 3rem 0 7rem;
	}
	.footer-mobile {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		height: 5rem;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 2000;
		background: linear-gradient(to bottom, #1c0c4c 40%, #000000 100%);
		border-top: 0.2rem solid #00aaff;
	}

	.footer-mobile_item {
		height: 100%;
		display: flex;
		gap: 0.4rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 1.2rem;
		color: #fff;
		transition-duration: 0.3s;
		&:first-child {
			justify-content: flex-start;
			.footer-mobile_item_home {
				width: 5rem;
				height: 3.9rem;
				border-radius: 0 0 5rem 5rem;
				background: #00aaff;
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					width: 1.8rem;
					transform: translateY(-0.2rem);
					aspect-ratio: 18/16;
				}
			}
			&:hover {
				svg {
					path {
						fill: #fff;
					}
				}
			}
		}
		svg {
			width: 1.6rem;
			aspect-ratio: 1/1;
			path {
				fill: #fff;
				transition-duration: 0.3s;
			}
		}
		&:hover {
			color: #00aaff;
			font-weight: 700;
			svg {
				path {
					fill: #00aaff;
				}
			}
		}
	}
	.top_slider .swiper-wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
	.top_slide {
		&:nth-child(n + 5) {
			display: none;
		}
	}
	.content_slider_swiper {
		.swiper-wrapper {
			grid-template-columns: repeat(5, 1fr);
		}
		.swiper-slide {
			&:nth-child(n + 6) {
				display: none;
			}
		}
	}
}

@media (max-width: 1024px) {
	.top_title p {
		font-size: 3rem;
	}
	.top_slider .swiper-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
	.top_slide {
		&:nth-child(n + 4) {
			display: none;
		}
	}
	.content_slider_swiper {
		.swiper-wrapper {
			grid-template-columns: repeat(3, 1fr);
		}
		.swiper-slide {
			&:nth-child(n + 4) {
				display: none;
			}
		}
	}
}

@media (max-width: 767px) {
	.top_slider .swiper-wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
	.top_slide {
		&:nth-child(n + 2) {
			display: none;
		}
	}
	.top_slide {
		&:nth-child(n + 4) {
			display: none;
		}
	}
	.content_slider_swiper {
		.swiper-wrapper {
			grid-template-columns: repeat(2, 1fr);
		}
		.swiper-slide {
			&:nth-child(n + 3) {
				display: none;
			}
		}
	}
	.main-content__inner {
		padding: 0rem;
	}
	.content_item_text_block ol,
	.content_item_text_block ul {
		padding-left: 3rem;
	}
	.top_sliders_menu_item span:nth-child(2) {
		font-size: 0.8rem;
	}
	.table-wrap {
		overflow-x: auto;
	}
	.table-wrap table {
		width: max-content;
	}
	.top_title {
		width: calc(100% - 3.2rem);
	}
	.top_block {
		aspect-ratio: 375 / 375;
	}
	.top_sliders_menu_item span {
		font-size: 1.3rem;
	}
	.content_list_row {
		grid-template-columns: repeat(3, 1fr);
	}
	.content_slider_title {
		font-size: 2.2rem;
	}
	.content_list_title p {
		font-size: 2.5rem;
	}
	.content_item_text_title {
		font-size: 2.5rem;
	}
	.footer_menu {
		grid-template-columns: repeat(2, 1fr);
	}
	.footer_menu_item {
		&:nth-child(2) {
			border-right: 0;
		}
		&:nth-child(3) {
			display: none;
		}
		&:nth-child(4) {
			display: none;
		}
	}
	.top_video video {
		source {
			&:nth-child(2) {
				display: none;
			}
		}
	}
}
